<div id="main">
	<div class="rows">
		<% players.forEach(function(player){%>
		<div class="player" style="float: left; width: 100px">
			<h4><%=player.name%>  |  <%=player.wins%>  |  <%=player.loses%></h4>
		<%});%>
		</div>
	</div>
</div>